<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="FirefoxPreferences" type="System.Configuration.NameValueSectionHandler" />
        <section name="FirefoxExtensions" type="System.Configuration.NameValueSectionHandler" />
        <section name="FirefoxArguments" type="System.Configuration.NameValueSectionHandler" />
        <section name="ChromePreferences" type="System.Configuration.NameValueSectionHandler" />
        <section name="ChromeExtensions" type="System.Configuration.NameValueSectionHandler" />
        <section name="DriverCapabilities" type="System.Configuration.NameValueSectionHandler" />
        <section name="ChromeArguments" type="System.Configuration.NameValueSectionHandler" />
        <section name="InternetExplorerPreferences" type="System.Configuration.NameValueSectionHandler" />
        <section name="EdgeChromiumPreferences" type="System.Configuration.NameValueSectionHandler" />
        <section name="EdgeChromiumExtensions" type="System.Configuration.NameValueSectionHandler" />
        <section name="EdgeChromiumArguments" type="System.Configuration.NameValueSectionHandler" />
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <appSettings>
        <!--mandatory keys-->
        <add key="protocol" value="http" />
        <add key="host" value="" />
        <add key="url" value="http://localhost:5216/" />
        <!--<add key="browser" value="Chrome" />-->
        <!--<add key="browser" value="InternetExplorer" />-->
        <add key="browser" value="Firefox" />
        <!--<add key="browser" value="Safari" />-->
        <!-- <add key="browser" value="Edge" /> -->
        <!-- <add key="browser" value="EdgeChrominium" /> -->
        <!--<add key="browser" value="RemoteWebDriver" />-->
        <!--Set path to the directory containing Drivers, leave it empty for default locations \bin-->
        <add key="PathToFirefoxDriverDirectory" value="" />
        <add key="PathToInternetExplorerDriverDirectory" value="" />
        <add key="PathToEdgeDriverDirectory" value="C:\Windows\SysWOW64\" />
        <add key="PathToEdgeChromiumDriverDirectory" value="" />
        <add key="EnableVerboseLoggingChrome" value="false" />
        <add key="PathToChromeDriverLog" value="C:\\Temp\\chromedriver.log" />
        <!--Set path and file name of the browsers executable, leave it empty for default locations-->
        <add key="ChromeBrowserExecutableLocation" value="" />
        <add key="FireFoxBrowserExecutableLocation" value="" />
        <add key="EdgeChromiumBrowserExecutableLocation" value="" />
        <add key="FirefoxUseLegacyImplementation" value="false" />
        <!--Set path path to firefox profile, leave it empty for default-->
        <add key="PathToFirefoxProfile" value="" />
        <!--Set RemoteWebDriverHub if using RemoteWebDriver as browser-->
        <add key="RemoteWebDriverHub" value="http://localhost:4444/wd/hub" />
        <!--<add key="RemoteWebDriverHub" value="http://user:key@hub-cloud.browserstack.com/wd/hub"/>-->
        <!--Set DriverCapabilities if using RemoteWebDriver as browser-->
        <add key="DriverCapabilities" value="Chrome" />
        <!--<add key="proxy" value="127.0.0.1:9999" />-->
        <!--Timeouts-->
        <add key="longTimeout" value="30" />
        <add key="mediumTimeout" value="10" />
        <add key="shortTimeout" value="3" />
        <add key="ImplicitlyWaitMilliseconds" value="200" />
        <!--User credentials-->
        <add key="username" value="admin" />
        <add key="password" value="admin" />
        <!--Downloaded files, screenshots and page source location-->
        <add key="UseCurrentDirectory" value="true" />
        <add key="DownloadFolder" value="TestOutput" />
        <add key="ScreenShotFolder" value="TestOutput" />
        <add key="PageSourceFolder" value="TestOutput" />
        <!--Screenshots and logging-->
        <add key="FullDesktopScreenShotEnabled" value="true" />
        <add key="SeleniumScreenShotEnabled" value="true" />
        <add key="GetPageSourceEnabled" value="false" />
        <add key="JavaScriptErrorLogging" value="false" />
        <!--JavaScript errors type to be search on browser logs-->
        <add key="JavaScriptErrorTypes" value="SyntaxError,EvalError,ReferenceError,RangeError,TypeError,URIError,Refused to display,Internal Server Error,Cannot read property" />
        <!--nlog trace level must be set to "trace" for at least one logger to see EventFiringWebDriver logs-->
        <add key="EnableEventFiringWebDriver" value="false" />
    </appSettings>
    <specFlow>
        <stepAssemblies>
            <stepAssembly assembly="Ocaramba" />
        </stepAssemblies>

        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    </specFlow>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
        <targets>
            <target name="logfile" xsi:type="File" fileName="${basedir}\TestXunit.log" layout="${longdate}|${level}|${callsite}|${message}" />
            <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${callsite}|${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="logfile" />
            <logger name="*" minlevel="Debug" writeTo="console" />
        </rules>
    </nlog>
    <FirefoxPreferences>
        <!--add key="PreferenceToBeOverride" value="NewValue" /-->
    </FirefoxPreferences>
    <FirefoxExtensions>
        <!-->add key="FirefoxPluginName.xpi" value=""/-->
    </FirefoxExtensions>
    <FirefoxArguments>
        <!--<add key="FirefoxArgument" value=""/>-->
    </FirefoxArguments>
    <ChromePreferences>
        <!--add key="PreferenceToBeOverride" value="NewValue" /-->
    </ChromePreferences>
    <ChromeExtensions>
        <!-->add key="ChromePluginName.crx" value=""/-->
    </ChromeExtensions>
    <DriverCapabilities>
        <!--<add key="browserstack.user" value="value"/>-->
        <!--<add key="browserstack.key" value="value"/>-->
        <!-- <add key="project" value="Test.Automation"/>-->
    </DriverCapabilities>
    <ChromeArguments>
        <!--<add key="ChromeArgument" value=""/>-->
    </ChromeArguments>
    <InternetExplorerPreferences>
        <!--<add key="InternetExplorerArgument" value=""/>-->
    </InternetExplorerPreferences>
    <EdgeChromiumPreferences>
        <!--add key="PreferenceToBeOverride" value="NewValue" /-->
    </EdgeChromiumPreferences>
    <EdgeChromiumExtensions>
        <!-->add key="FirefoxPluginName.xpi" value=""/-->
    </EdgeChromiumExtensions>
    <EdgeChromiumArguments>
        <!--<add key="FirefoxArgument" value=""/>-->
    </EdgeChromiumArguments>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-26.0.3.0" newVersion="26.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MathNet.Numerics" publicKeyToken="cd8b63ad3d691a37" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-19.61.1.4" newVersion="19.61.1.4" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AspNetCore.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AspNetCore.Http.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.17.0" newVersion="5.0.17.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AspNetCore.Routing.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.5.0" newVersion="7.0.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.53.0.0" newVersion="4.53.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.30.0.0" newVersion="6.30.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Validation" publicKeyToken="2fc06f0d701809a7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Xunit.SkippableFact" publicKeyToken="b2b52da82b58eb73" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-106.15.0.0" newVersion="106.15.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
